  section.container 
    #myCarousel.carousel.slide(data-bs-ride="carousel")
      .carousel-indicators
        each val, index in info
          button(type="button", data-bs-target="#myCarousel", data-bs-slide-to=index, class=(index === 0 ? 'active' : ''), aria-current=(index === 0 ? 'true' : ''), aria-label=`Slide ${index + 1}`)

      .carousel-inner
        each val, index in info
          .carousel-item(class=(index === 0 ? 'active' : ''))
            img(src=val.landing, class="d-block w-100", alt=val.title)
            .container-fluid
              .carousel-caption(class=('text-start'))
                h1= val.title
                p= val.info_header
                p.carousel-buttons
                  a.btn.btn-sm.btn-primary(href=`/detalles/${val.id}`) Ver mas &raquo;
                  a.btn.btn-sm.btn-primary(href=val.url, target="_blank") Visite el sitio &raquo;

      button.carousel-control-prev(type="button", data-bs-target="#myCarousel", data-bs-slide="prev",)
        span.carousel-control-prev-icon(aria-hidden="true")
        span.visually-hidden Previous
      button.carousel-control-next(type="button", data-bs-target="#myCarousel", data-bs-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.visually-hidden Next