extends ./layouts/mainLayout.pug

block content
  style.
    #background-section {
      background-image: url('#{landing.picture}');
      background-size: cover;
      background-position: center;
      min-width: 100vw;
      height: 100vh;
      display: flex; /* Activa Flexbox */
      justify-content: flex-start; /* Centra horizontalmente (opcional) */
      align-items: center; /* Centra verticalmente */
    }
  section.container-fluid(id="background-section")
    div.container-caption
      .caption-title.ms-5
            h1= landing.title 
            p.lead= landing.description
            p.lead 
            a.btn.btn-lg.btn-dark.fw-bold(href='/detalles') Ver proyectos: 
  //-hr.featurette-divider
  section.container.marketing.mt-4.ms-4 
      h2.h2.fw-normal.mb-3 Proyectos realizados:
        .row
          each inf in info
            .col-lg-4.backgroundElements
              img.bd-placeholder-img.rounded-circle(src=inf.logo, width="70", height="70", alt="Placeholder")
              h3.h2.fw-normal= inf.title
              p= inf.infoHeader
              p
                a.btn.btn-sm.btn-outline-primary(href=`/detalles/${inf.id}`) Ver detalles &raquo;
  hr.featurette-divider

